@media (max-width:600px)
{
	h1
	{
		background-color:black;
		color:silver;
		text-align:center;
		padding:10px;
		font-size:60px;
		border:solid silver 5px;
	}
	label
	{
		font-size:20px;
	}
	.container
	{
		border:solid black 3px;
		margin-left:30px;
		margin-right:30px;
		padding:10px;
		box-shadow:5px 5px 10px 10px silver;
	}
	button
	{
		font-size:20px;
		border:solid silver 3px;
		box-shadow:1px 1px 3px 3px silver;
	}
}
@media (min-width:600px)
{
	h1
	{
		background-color:black;
		color:silver;
		text-align:center;
		padding:10px;
		font-size:60px;
		border:solid silver 5px;
	}
	label
	{
		font-size:40px;
	}
	
	.container
	{
		border:solid black 3px;
		margin-left:30px;
		margin-right:30px;
		padding:10px;
		box-shadow:5px 5px 10px 10px silver;
	}
	button
	{
		font-size:20px;
		border:solid silver 3px;
		box-shadow:1px 1px 3px 3px silver;
	}
}